$navHeight: 10vh;
$navSpacing: 40px;
$navTextColor: black;
$textColor: white;
$navItemWidth: 10%;

@mixin flex($justify: center, $align: center, $direction: row) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
}

@mixin frost() {
    background-color: rgba(100, 130, 160, .5);
    backdrop-filter: blur(5px);
}

$sectionSpacing: $navHeight * 2;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    color: $textColor;
    text-decoration: none;
}

a:hover {
    color: lightgray;
}

a:visited:hover {
    color: gray;
}

// Chrome, Opera, etc.
body::-webkit-scrollbar {
    display: none;
}

.error-message, .destructive {
    color: red;
    text-align: center;
}

.delete-button {
    color: white;
    background-color: red;

    width: 20px;
    height: 20px;
}

.nav-item {
    width: $navItemWidth;
    display: inline-block;
}

body {
    font-family: 'Balsamiq Sans', cursive;
    background-color: black;
    color: $textColor;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */

    #logo {
        img {
            cursor: pointer;
        }
    }

    header {
        @include flex();
        @include frost();

        position: sticky;
        top: 0;
        height: $navHeight;
        width: 100%;
        padding: 0 $navSpacing;

        #logo {
            flex-grow: 1;

            img {
                object-fit: contain;
                height: $navHeight;
            }
        }

        nav {
            button {
                color: $navTextColor;
                transition: color 0.3s;
                border: none;
                background: none;
                text-transform: uppercase;
                font-size: 18px;
                margin-left: $navSpacing;
                padding: 5px;
                letter-spacing: 5px;
            }

            #drop-down-container {
                display: inline;

                #drop-down {
                    @include frost();
                    position: absolute;
                    top: $navHeight;
                    right: 0;
                    width: 100%;
                    text-align: center;
                    transition: height 0.3s;
                    list-style: none;
                    height: 0;
                    overflow: hidden;

                    .highlightable {
                        display: block;
                        width: 100%;
                        cursor: pointer;
                        padding: 10px;
                    }

                    .highlightable:hover {
                        background-color: rgba(125,125,125,0.8);
                    }

                    
                }

                #drop-down-icon {
                    object-fit: cover;
                    transition: transform 0.3s;
                    height: 10px;
                }
            }

            button:hover {
                color: lightgray;
                cursor: pointer;
            }
        }
    }

    section {
        padding-top: $sectionSpacing;
    }

    #content {
        #list {
            margin: 0 10%;

            .list-item {
                @include flex($justify: space-between);

                .checkbox-container, .actions-container {
                    @include flex($justify: space-between);

                    button, .is-complete {
                        width: 16px;
                        height: 16px;
                        border: none;
                        border-radius: 2px;
                        cursor: pointer;
                        margin: 30px;
                    }

                    .is-expanded {
                        display: none;
                    }
                }

                p {
                    font-size: 12px;
                }
            }
        }

        .list-item:nth-child(odd), .list-preview:nth-child(odd) {
            background-color: rgba(125,125,125,0.5);
        }

        .list-preview {
            @include flex(flex-end, center);
            padding: 10px;

            .text {
                flex-grow: 1;
            }

            .count {
                p {
                    display: inline;
                }
            }
        }

        #new-list, #new-task {
            margin: 20px;
        }

        #home {
            text-align: center;
            text-transform: uppercase;
            letter-spacing: 3px;
    
            * {
                padding-bottom: 10px;
            }
        }

        #login {
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 5000px;

            div {
                margin: 10px 0;
            }

        }
    }

    #modal-popover {
        @include flex(center, center);
        background-color: rgba(255, 255, 255, .8);
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        display: none;

        #modal-content {
            @include flex(center, center, column);
            padding: 20px;
            background-color: white;
            width: 50%;
            border-radius: 20px;

            * {
                margin: 10px;
            }
        }
    }
}