$navHeight: 60px;
$navSpacing: 40px;
$textColor: white;

@mixin flex($justify: center, $align: center, $direction: row) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
}

$sectionSpacing: $navHeight + 40px;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    color: $textColor;
    text-decoration: none;
}

a:hover {
    color: lightgray;
}

a:visited:hover {
    color: gray;
}

// Chrome, Opera, etc.
body::-webkit-scrollbar {
    display: none;
}

body {
    font-family: 'Balsamiq Sans', cursive;
    background-color: black;
    color: $textColor;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */

    #logo {
        img {
            cursor: pointer;
        }
    }

    header {
        @include flex();

        position: sticky;
        top: 0;
        height: $navHeight;
        width: 100%;
        padding: 0 $navSpacing;
        background-color: rgba(255, 255, 255, .05);  
        backdrop-filter: blur(5px);

        #logo {
            flex-grow: 1;

            img {
                object-fit: contain;
                height: $navHeight;
            }
        }

        nav {

            button {
                color: $textColor;
                border: none;
                background: none;
                text-transform: uppercase;
                font-size: 18px;
                margin-left: $navSpacing;
                padding: 5px;
                letter-spacing: 5px;
            }

            button:hover {
                color: lightgray;
                cursor: pointer;
            }
        }
    }

    section {
        padding-top: $sectionSpacing;
    }

    #content {
        #list {
            margin: 0 10%;

            .list-item {
                @include flex($justify: space-between);

                .checkbox-container, .actions-container {
                    @include flex($justify: space-between);

                    button, .is-complete {
                        width: 16px;
                        height: 16px;
                        border: none;
                        border-radius: 2px;
                        cursor: pointer;
                        margin: 30px;
                    }

                    button {
                        color: white;
                        background-color: red;
                    }

                    .is-expanded {
                        display: none;
                    }
                }

                h3 {

                }

                p {
                    font-size: 12px;
                }
            }
        }

        .list-item:nth-child(odd), .list-preview:nth-child(odd) {
            background-color: rgba(125,125,125,0.5);
        }

        #list-preview {
            padding: 10px;
            display: flex;
            justify-content: flex-end;
            align-items: center;


            .text {
                flex-grow: 1;
            }

            .count {
                p {
                    display: inline;
                }
            }
        }

        #home {
            text-align: center;
            text-transform: uppercase;
            letter-spacing: 3px;
    
            * {
                padding-bottom: 10px;
            }
        }

        #login {
            display: flex;
            flex-direction: column;
            align-items: center;

            div {
                margin: 10px 0;
            }

        }
    }
}